@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* primary colors */
/* secondary-colors */
*,
*::before,
*::after {
  font-family: avenir;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
}

/* font styling*/
h1,
h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-weight: 600;
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

a {
  text-decoration: none;
}

img {
  width: 18.75rem;
  height: 11.25rem;
  padding: 0 1rem;
}

label {
  font-size: 0.6125rem;
  font-weight: 600;
  color: #AFAFAF;
}

/* header styling */
.header {
  background-color: #323232;
  text-align: center;
}
.header .header__name {
  color: #FFFFFF;
  font-weight: 400;
  padding: 0.75rem 0.75rem 0 0.75rem;
}
.header .header__nav {
  display: flex;
  justify-content: space-around;
}
.header .header__nav .header__title,
.header .header__nav .header__title--active {
  color: #FFFFFF;
  font-size: 0.7rem;
}
.header .header__nav .header__title {
  color: #E1E1E1;
  font-weight: 400;
}
.header .header__nav .header__container {
  width: 100%;
}
.header .header__nav .header__container:hover {
  border-bottom: 0.25rem solid #FFFFFF;
}
.header .header__nav .header__container--active {
  border-bottom: 0.25rem solid #FFFFFF;
}

/* main styling */
.main {
  position: relative;
}

/*hero styling*/
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #323232;
}

.hero__title {
  color: #FFFFFF;
  z-index: 1;
  position: absolute;
  padding-left: 1rem;
}

.hero__image {
  width: 100%;
  height: 80%;
  z-index: 0;
  padding: 0;
  opacity: 50%;
}

/* section styling */
.section {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.section__heading {
  padding: 1.5rem 0 0.5rem 1rem;
}

.section__container {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.section__title {
  padding: 1rem 1rem 0.5rem 0;
}

.section__text {
  padding-bottom: 1rem;
}

.section__image {
  padding: 0;
}

.section__text--active {
  font-weight: 600;
  line-height: 1.5rem;
}

/* gallery styling */
.gallery {
  background-color: #FAFAFA;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.gallery__title {
  padding: 1rem 1rem 0.5rem 1rem;
}

.gallery__image {
  width: 18rem;
  padding: 0.5rem 1.5rem 0 1rem;
}

/* comments styling */
.comments {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.conversation {
  padding: 1rem 0 1rem 1rem;
}

.conversation__container {
  display: flex;
  flex-direction: row;
}

form {
  width: 100%;
  height: 100%;
}

label {
  display: block;
  padding-top: 1rem;
}

input {
  display: block;
  margin: 0;
}

input::-moz-placeholder {
  color: #323232;
  position: absolute;
  padding: 0.6125rem 0.5rem;
}

input:-ms-input-placeholder {
  color: #323232;
  position: absolute;
  padding: 0.6125rem 0.5rem;
}

input::placeholder {
  color: #323232;
  position: absolute;
  padding: 0.6125rem 0.5rem;
}

#name {
  width: 99%;
  height: 2.25rem;
}

#name, #comments {
  border: 1.5px solid #E1E1E1;
  border-radius: 0.25rem;
  color: #323232;
}

#comments {
  width: 99%;
  height: 6.75rem;
}

.conversation__button {
  width: 100%;
  height: 2.5rem;
  margin: 1rem 0;
  background-color: #323232;
  border-radius: 0.25rem;
  border: 0;
  color: #FFFFFF;
}

.comments__title {
  padding: 1rem;
}

.avatar, .avatar__top {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.avatar__top {
  margin-top: 1.75rem;
}

.comments__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 1rem;
}

.comments__split {
  display: flex;
  justify-content: space-between;
}

.comments__top {
  display: flex;
  flex-direction: row-reverse;
}

.comments__section {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
}

.comments__time-stamp {
  color: #AFAFAF;
}

.comment {
  padding: 1rem 0;
}

/* footer styling */
.footer {
  background-color: #323232;
}

.footer__title {
  color: #FFFFFF;
  padding: 1.5rem 1rem 0.5rem 1rem;
}

.footer__bandsite {
  display: none;
}

.footer__container {
  padding-bottom: 0.5rem;
}

.footer__icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem 1rem 0 1rem;
}

.footer__box {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.footer__heading,
.footer__info {
  color: #FFFFFF;
}

.footer__heading {
  font-weight: 600;
}

.footer__link {
  color: #FFFFFF;
  padding: 0.5rem 1rem 1rem 1rem;
}

.footer__name {
  color: #FFFFFF;
  font-weight: 400;
  padding: 1rem 1rem 0 1rem;
}

.footer__text {
  color: #FFFFFF;
  padding: 0.5rem 1rem;
}

/*TABLET SETTINGS */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem;
  }

  /* HEADER STYLES */
  .header {
    display: flex;
    justify-content: flex-start;
  }
  .header .header__name {
    padding: 0.75rem 2.25rem;
    font-size: 1.5rem;
  }
  .header .header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 0.25rem solid #323232;
    padding: 0 1.5rem;
  }
  .header .header__container:hover {
    border-bottom: 0.25rem solid #FFFFFF;
  }

  /* HERO STYLES */
  .hero__title {
    padding-left: 2.25rem;
  }

  .hero__image {
    width: 100%;
    height: 510px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }

  /* SECTION STYLES */
  .section {
    display: inline-block;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .section__heading {
    padding: 4rem 2.25rem 1.5rem 2.25rem;
  }

  .section__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .container-info {
    width: 75%;
    height: 35%;
  }

  .section__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }

  .section__title {
    padding: 1.5rem 0 1rem 0;
  }

  .section__info {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .section__text--active {
    padding: 1rem 0 0 0;
  }

  .section__split {
    display: flex;
    flex-direction: row;
  }

  .section__text {
    padding-right: 1rem;
  }

  /* GALLERY STYLES */
  .gallery {
    padding: 3rem 0 0 2.25rem;
  }

  .gallery__title {
    padding-left: 0;
  }

  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .gallery__image {
    width: 30%;
    height: 30%;
    min-height: 0;
    padding: 0.5rem;
  }

  .gallery__image-side {
    padding-left: 0;
  }

  .conversation {
    font-size: 2.25rem;
    padding-left: 2.25rem;
  }

  .div {
    margin: 0 6.125rem 2rem;
  }

  .conversation__container {
    position: relative;
  }

  .conversation__button {
    width: 10rem;
  }

  .footer__trunk {
    display: flex;
    justify-content: space-between;
  }

  .footer__bandsite {
    color: #FFFFFF;
    font-weight: 400;
    padding: 2.25rem 1.5rem 0 0.75rem;
    display: inline;
  }

  .footer__title {
    padding: 2.25rem 0 0 2.25rem;
  }

  .footer__storage {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem;
  }

  .footer__container {
    display: flex;
    justify-content: flex-end;
  }

  .footer__box {
    padding: 1rem;
  }

  .footer__icon {
    min-height: 0;
    padding-top: 2.5rem;
  }

  .footer__name {
    display: none;
  }

  .footer__text {
    padding: 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery__container,
.footer__title,
.footer__text {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .footer__storage {
    padding-left: 3rem;
  }

  .div {
    margin: 0 27.5rem 2rem 27.5rem;
  }
}/*# sourceMappingURL=bio.css.map */