@use "./partials/fonts";
@use "./partials/variables";
@use "./partials/responsive" as *;


.hero__div{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.hero__title{
    position: relative;
    padding: 0 3rem 1rem 0;
}
.hero__title-small{
    font-weight: 400;
}
iframe{
    z-index: 1;
}
.shows{
    padding-bottom: 1rem;
}
.shows__title{
    padding: 1.5rem 0 1.5rem 1rem;
}
.concert-container{
    border-bottom: 1px solid variables.$secondary-color-mercury;
    padding-top: 1rem;
}
.title{
    font-weight: 600;
    color: variables.$secondary-color-mercury;
    padding-left: 1rem;
}
.date{
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
}
.description{
    font-size: 1rem;
    padding: 1rem;
}
button{
    background-color: variables.$primary-color-black;
    color: variables.$primary-color-white;
    border-radius: 0.25rem;
    height: 2.5rem;
    width: 90%;
    border: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.concert-first-div{
    display: none;
}

@include tablet{
    .hero__title{
        line-height: 4rem;
        padding-right: 8rem;
    }
    .hero__div{
        padding-left: 2.25rem;
    }
    .shows__title{
        padding: 3rem 2rem;
    }
    .concert-container{
        display: flex;
        gap: 2rem;
    }
    .concert-first-div{
        display: flex;
        justify-content: flex-start;
        gap: 8rem;
        padding: 1rem;
    }
    .description{
        flex-grow: 1;
    }
    .title{
        display: none;
    }
    button{
        width: 10rem;
    }
    .concert-container:hover{
        background-color: variables.$secondary-color-mercury;

    }
}
@include desktop{
    .shows{
        display: flex;
    }
    .shows__title{
        size: 1.5rem;
        padding: 4rem;
    }
    .split{
        display: flex;
        justify-content: space-between;
    }
    .soundcloud{
        width: 20rem;
    }
    iframe{
        width: 100%;
        height: 80%;
    }
}